/* Write your CSS here */
.bg-container {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.card-container {
  background-color: #150b3e;
  border-radius: 15px;
  padding: 65px;
  display: flex;
  flex-direction: column;
  margin-top: 65px;
  height: 600px;
  width: 650px;
}
.name-container {
  display: flex;
  flex-direction: row;
}
.letter {
  color: #150b3e;
  font-size: 35px;
  font-weight: bold;
  background-color: #c7d2fe;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  font-family: 'Roboto';
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  margin-right: 20px;
}
.name {
  color: #d4d2db;
  font-size: 25px;
  font-weight: bold;
  font-family: 'Roboto';
}
.amount-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.balance {
  color: #7c3aed;
  font-size: 23px;
  font-weight: bold;
  font-family: 'Roboto';
}
.amount {
  color: #d4d2db;
  font-size: 25px;
  font-weight: bold;
  font-family: 'Roboto';
}
.rupee {
  color: #7c3aed;
  font-size: 12px;
  font-weight: bold;
  font-family: 'Roboto';
  text-align: right;
}
.withdraw {
  color: #d4d2db;
  font-size: 26px;
  font-weight: bold;
  font-family: 'Roboto';
}
.choose {
  color: #7c3aed;
  font-size: 25px;
  font-weight: bold;
  font-family: 'Roboto';
}
.ul-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}
